### Práctica de Acceso a bases de datos

Considerar la gestión de información sobre películas. Para ello se utilizará una base de datos con las siguientes tablas:

Tabla Películas:

IdP | Título | Año | Director
-- | --
101| Lo que el viento se llevó| 1939| Victor Fleming
102| La guerra de las galaxias| 1939| George Lucas
103| Sonrisas y lágrimas| 1939| Robert Wise
104| ET| 1982| Steven Spielberg
105| Titanic| 1997| James Cameron
106| Blancanieves y los siete enanitos| 1937| Null
107| Avatar| 2009|James Cameron
108| En busca del arca perdida| 1981| Steven Spielberg

Tabla Críticos

IdC | Nombre
-- | --
201| Sara Martinez 
202| Daniel Pérez
203| Amalia Sierra 
204| Paloma Sánchez
205| Miguel Hernández
206| Juán García
207| James Cameron
208| Isabel Sanz

Tabla Clasificación

IdC | IdP | Estrellas | Fecha
-- | --
201| 101| 2| 2018-01-22
201| 101| 4| 2018-01-27
202| 106| 4| null
203| 103| 2| 2018-01-20
203| 108| 4| 2018-01-12
203| 108| 2| 2018-01-30
204| 101| 3| 2018-01-09
205| 103| 3| 2018-01-27
205| 104| 2| 2018-01-22
205| 108| 4| null
206| 107| 3| 2018-01-15
206| 106| 5| 2018-01-19
207| 107| 5| 2018-01-20
208| 104| 3| 2018-01-02

En esta tabla se asocian la tabla Películas y la tabla Críticos mediante los campos id de cada una de ellas. 

Se pide:

1.Crear un programa en Python que genere utilizando SQLite una base de datos denominada “Cine”  que contenga las 3 tablas mostradas más arriba: Películas, Críticos y Clasificación con la información que aparece en cada una de ellas. [2,5 puntos].

2.Crear un programa en Python que resuelva las siguientes consultas SQL [7,5 puntos]. Se debe mostrar por pantalla el resultado de cada consulta:
 
   * Encontrar todos los años que tengan una película que recibió una calificación de 4 o 5.Ordenar los resultados en orden creciente.

   * Encontrar los nombres de todos los críticos que hayan contribuido con tres o más calificaciones.

   * Listar los títulos de películas y clasificaciones promedio, desde las más altas a las más bajas. Si dos o más películas tienen la misma calificación promedio, se pide mostrarlas en orden alfabético.

   * Para cada película que tenga al menos una clasificación, encontrar la mayor cantidad de estrellas que recibió la película. Devolver el título de la película y el número de estrellas. Ordenar por título de película.

   * Para todas las películas que tengan una calificación promedio de 4 estrellas o más, se pide añadir 25 al año de lanzamiento.

   * Eliminar todas las clasificaciones donde el año de la película sea anterior a 1970 o después de 2000, y la calificación sea inferior a 4 estrellas.

#### Normas de entrega

* Fecha tope de entrega: 25/10/2018
* La entrega se realizará subiendo al campus virtual un notebook de Jupyter con la solución. El archivo tendrá como nombre BasesDatos_GrupoX donde X será el número de grupo correspondiente.

In [2]:
#Ejercicio 1
import sqlite3
conn = sqlite3.connect("Cine.sqlite3")
cur = conn.cursor()

#Creamos las tablas - Para ver contenido, SQLite Studio
cur.execute("DROP TABLE IF EXISTS Películas")
cur.execute("DROP TABLE IF EXISTS Críticos")
cur.execute("DROP TABLE IF EXISTS Clasificación")

cur.execute("CREATE TABLE Películas (IdP INTEGER, Título TEXT, Año INTEGER, Director TEXT, PRIMARY KEY (IdP))")
cur.execute("CREATE TABLE Críticos (IdC INTEGER, Nombre TEXT, PRIMARY KEY (IdC))")
cur.execute("CREATE TABLE Clasificación (IdC INTEGER REFERENCES Críticos, IdP INTEGER REFERENCES Películas, Estrellas INTEGER, Fecha DATE)")

#Llenamos las tablas
## TABLA PELICULAS ##
cur.execute("INSERT INTO Películas VALUES (101,'Lo que el viento se llevó',1939,'Victor Fleming')")
cur.execute("INSERT INTO Películas VALUES (102,'La guerra de las galaxias',1939,'George Lucas')")
cur.execute("INSERT INTO Películas VALUES (103,'Sonrisas y lágrimas',1939,'Robert Wise')")
cur.execute("INSERT INTO Películas VALUES (104,'ET',1982,'Steven Spielberg')")
cur.execute("INSERT INTO Películas VALUES (105,'Titanic',1997,'James Cameron')")
cur.execute("INSERT INTO Películas VALUES (106,'Blancanieves y los siete enanitos',1937, null)")
cur.execute("INSERT INTO Películas VALUES (107,'Avatar',2009,'James Cameron')")
cur.execute("INSERT INTO Películas VALUES (108,'En busca del arca perdida',1981,'Steven Spielberg')")

## TABLA CRITICOS ##
cur.execute("INSERT INTO Críticos VALUES (201,'Sara Martinez ')")
cur.execute("INSERT INTO Críticos VALUES (202,'Daniel Pérez')")
cur.execute("INSERT INTO Críticos VALUES (203,'Amalia Sierra ')")
cur.execute("INSERT INTO Críticos VALUES (204,'Paloma Sánchez')")
cur.execute("INSERT INTO Críticos VALUES (205,'Miguel Hernández')")
cur.execute("INSERT INTO Críticos VALUES (206,'Juán García')")
cur.execute("INSERT INTO Críticos VALUES (207,'James Cameron')")
cur.execute("INSERT INTO Críticos VALUES (208,'Isabel Sanz')")

## TABLA CLASIFICACION ##

cur.execute("INSERT INTO Clasificación VALUES(201,101,2,2018-01-22)")
cur.execute("INSERT INTO Clasificación VALUES(201,101,4,2018-01-27)")
cur.execute("INSERT INTO Clasificación VALUES(202,106,4,null)")
cur.execute("INSERT INTO Clasificación VALUES(203,103,2,2018-01-20)")
cur.execute("INSERT INTO Clasificación VALUES(203,108,4,2018-01-12)")
cur.execute("INSERT INTO Clasificación VALUES(203,108,2,2018-01-30)")
cur.execute("INSERT INTO Clasificación VALUES(204,101,3,2018-01-09)")
cur.execute("INSERT INTO Clasificación VALUES(205,103,3,2018-01-27)")
cur.execute("INSERT INTO Clasificación VALUES(205,104,2,2018-01-22)")
cur.execute("INSERT INTO Clasificación VALUES(205,108,4,null)")
cur.execute("INSERT INTO Clasificación VALUES(206,107,3,2018-01-15)")
cur.execute("INSERT INTO Clasificación VALUES(206,106,5,2018-01-19)")
cur.execute("INSERT INTO Clasificación VALUES(207,107,5,2018-01-20)")
cur.execute("INSERT INTO Clasificación VALUES(208,104,3,2018-01-02)")

cur.close() 
conn.commit()

In [26]:
#Ejercicio 2
import sqlite3
conn = sqlite3.connect("Cine.sqlite3")
cur = conn.cursor()

consulta1(cur)
print()
consulta2(cur)
print()
consulta3(cur) 
print()
consulta4(cur)
print()
consulta5(cur)
print()
consulta6(cur) #Por pantalla o en la BBDD??
cur.close()

Años que tengan una película que recibió una calificación de 4 o 5
1937
1939
1981
2009

Nombres de todos los críticos que hayan contribuido con tres o más calificaciones
Amalia Sierra
Miguel Hernández

Títulos de películas y clasificaciones promedio
Blancanieves y los siete enanitos  =>
4.50  *****
Avatar  =>
4.00  *****
En busca del arca perdida  =>
3.33  *****
Lo que el viento se llevó  =>
3.00  *****
ET  =>
2.50  *****
Sonrisas y lágrimas  =>
2.50  *****

Mayor cantidad de estrellas que recibió la película
Avatar =>
max :  5
Blancanieves y los siete enanitos =>
max :  5
ET =>
max :  3
En busca del arca perdida =>
max :  4
Lo que el viento se llevó =>
max :  4
Sonrisas y lágrimas =>
max :  3

Películas (media >= 4 estrellas), 25 años mas al lanzamiento
Avatar =>
Año :  2034
Blancanieves y los siete enanitos =>
Año :  1962

Peliculas entre 1970 y 2000, y la calificación >= 4
En busca del arca perdida

In [18]:
def consulta1(cur):
    print ("Años que tengan una película que recibió una calificación de 4 o 5")
    cur.execute("SELECT DISTINCT Año FROM Clasificación NATURAL JOIN Películas WHERE (Estrellas = 4 OR Estrellas = 5) ORDER BY Año" )
    for fila in cur.fetchall():
        print (fila[0])

In [19]:
def consulta2(cur):
    print ("Nombres de todos los críticos que hayan contribuido con tres o más calificaciones")
    cur.execute("SELECT DISTINCT Nombre FROM Críticos NATURAL JOIN Clasificación GROUP BY Idc HAVING COUNT(*) > 2" )
    for fila in cur.fetchall():
        print (fila[0])

In [20]:
def consulta3(cur):
    print ("Títulos de películas y clasificaciones promedio")
    cur.execute("SELECT DISTINCT Título, AVG(Estrellas) FROM Películas NATURAL JOIN Clasificación GROUP BY Título ORDER BY AVG(Estrellas) DESC, Título" )
    for fila in cur.fetchall():
        print(fila[0], " =>")
        est = "%.2f" % fila[1]
        print(est, " *****")

In [21]:
def consulta4(cur):
    print ("Mayor cantidad de estrellas que recibió la película")
    cur.execute("SELECT DISTINCT Título, MAX(Estrellas) FROM Películas NATURAL JOIN Clasificación GROUP BY Título ORDER BY Título" )
    for fila in cur.fetchall():
        print(fila[0], "=>")
        print("max : ", fila[1])

In [22]:
def consulta5(cur):
    print ("Películas (media >= 4 estrellas), 25 años mas al lanzamiento")
    cur.execute("SELECT DISTINCT Título, Año + 25 FROM Películas NATURAL JOIN Clasificación GROUP BY Título HAVING AVG(Estrellas) >= 4" )
    for fila in cur.fetchall():
        print(fila[0], "=>")
        print("Año : ", fila[1])

In [25]:
def consulta6(cur):
    print ("Peliculas entre 1970 y 2000, y la calificación >= 4")
    cur.execute("SELECT DISTINCT Título FROM Películas NATURAL JOIN Clasificación WHERE Año <= 2000 AND Año >= 1970 AND Estrellas >= 4" )
    for fila in cur.fetchall():
        print(fila[0])